body{
    width: 960px;
    background-color: #d2691e;
    margin: auto;
}
h1{
    text-decoration: dotted,2px,#a52a2a;
}
li{
    list-style-type: none;
    padding: 6px;
    color: white;
    min-width: 50px;
    display: inline;
    border-right: solid 2px #a52a2a;

}
h2{
    width: 96%;
    background-color: #cd853f;
    font-style: oblique;
}
p{
    text-align: justify;
}
img{
    width: 100px;
    border: 2px, solid, #a52a2a ;
    float: left;
}
.hasab {
max-width: 450px;
margin-right: 20px;
float: left;
}


footer {
text-align: left;

}

